.Pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CardPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.ListaPokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.CardPokemon {
  width: 33%;
}
