.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: brown;
  text-align: center;
}
.fundo {
  background-image: url("../images/fundo.jpg");
  margin-top: 48px;
}
body {
  background-color: gold;
  margin: 0;
}
p {
  font-size: 14px;s
}
.botao {
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
}
.tituloVideo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.descricaoVideo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }

  .navbarDireita {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbarEsquerda {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }