.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: brown;
  text-align: center;
}
.fundo {
  background-image: url("../images/fundo.jpg");
  margin: 0px;
}
body {
  background-color: gold;
}
p {
  font-size: 14px;s
}
.botao {
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
}
.tituloVideo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.descricaoVideo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}